body, html {
    /* margin: 0; */
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.display-container {
    background-color: white;
    color: black;
    display: flex;
    border-collapse: collapse;
    flex: 1 1 auto;
    overflow-y: auto;
    flex-direction: column;
    width: 70%;
    table-layout: auto;
    margin-left: auto;
}

/* table li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ccc;
} */

.smalltable {
    height: 150px;
    width: 100px;
}

.largetable {
    height: 100px;
    width: 200px;
    border-radius: 25px;
}

.form-container {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 5px;                       /* Optional: Space between forms */
    margin: 5px;
    flex-wrap: nowrap;
}

/* .content {
    margin: 0 auto;
    width: 400px;
} */

form {
    align-self: center;
    margin-top: 20px;
}
