body, html {
    /* margin: 0; */
    font-family: sans-serif;
    background-color: #E3DFD7;
    color: black;
}

h1 {
    margin: 5px;
}

h6 {
    margin: 5px;
}

.smalltable {
    height: 150px;
    width: 100px;
    background-color: #776f60;
}

.largetable {
    height: 100px;
    width: 200px;
    border-radius: 25px;
    background-color: #776f60;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: auto;
}

.form-container {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;                       /* Optional: Space between forms */
    margin: 20px;
    flex-wrap: nowrap;
}

.form-container-non-centered {
    display: flex;
    gap: 20px;                       /* Optional: Space between forms */
    margin: 20px;
    flex-wrap: nowrap;
}

/* .content {
    margin: 0 auto;
    width: 400px;
} */

table, td, th {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}

.table {
    background-color: white;
    border-collapse: collapse;
    overflow-y: auto;
    table-layout: fixed;
    /* flex-direction: column; */
    width: 30%;
    /* table-layout: fixed; */
}

thead {
    display: table-header-group; /* Ensures the header behaves as expected */
    height: 50px; /* Fixed height for header row */
}

th {
    width: 150px;
    height: 30px;
    vertical-align: middle;
}

td {
    width: 150px;
    height: 30px;
}

.form {
    align-self: center;
    margin-top: 20px;
}
