{% extends 'base.html' %}

{% block head %}
<title>Customers</title>
{% endblock %}
 
{% block body %}
<div class="content">
    <form action="/" method="GET">
        <button>Return to Layout</button>
    </form>
    <h1 style="text-align: center;">Add New Customer</h1>
    <div class="form">
        <form action="/customer" method="POST" style="text-align: center;">
            <h6>First Name</h6>
            <input type="text" name="First Name" id="first_name" value="{{first_name}}">
            <h6>Last Name</h6>
            <input type="text" name="Last Name" id="last_name" value="{{last_name}}">
            <h6>Phone Number</h6>
            <input type="text" name="Phone No." id="phone_no" value="{{email}}">
            <h6>Email</h6>
            <input type="text" name="Email" id="email" value="{{phone_no}}">
            <h6>Preferred Table: 1-10</h6>
            <input type="text" name="Preferred Table" id="pref_table" value="{{pref_table}}">
            <input type="submit" name="Enter Info">
        </form>
    </div>
</div>
{% endblock %}