{% extends 'base.html' %}

{% block head %}
<title>Restaurant</title>
<link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
<link rel="icon" href="/favicon.ico?" type="image/x-icon">
{% endblock %}
 

{% block body %}
<div class="content">
    <form action="/reservation_manager" method="get">
        <button style="position: relative; top: 0px; left: 0px;">Reservations</button>
    </form>
    <h1 style="text-align: center;">Table Layout</h1>
    <form id="tableLayout" action="/order_manager/" method="get" class="form" align="center">
        <button id="1" onClick="reply_click(this.id)" class="smalltable"  style="position: relative;top: 0px; left: 325px;">1</button>
        <button id="2" onClick="reply_click(this.id)" class="smalltable" style="position: relative;top: 0px; left: 375px;">2</button>
        <button id="3" onClick="reply_click(this.id)" class="smalltable" style="position: relative;top: 0px; left: 425px;">3</button>
        <button id="4" onClick="reply_click(this.id)" class="smalltable" style="position: relative;top: 0px; left: 475px;">4</button>
        <button id="5" onClick="reply_click(this.id)" class="smalltable" style="position: relative;top: 200px; left: -95px;">5</button>
        <button id="6" onClick="reply_click(this.id)" class="smalltable" style="position: relative;top: 200px; left: -45px;">6</button>
        <button id="7" onClick="reply_click(this.id)" class="smalltable" style="position: relative;top: 200px; left: 5px;">7</button>
        <button id="8" onClick="reply_click(this.id)" class="smalltable" style="position: relative;top: 200px; left: 55px;">8</button>
        <button id="9" onClick="reply_click(this.id)" class="largetable" style="position: relative;top: 400px; left: -500px;">9</button>
        <button id="10" onClick="reply_click(this.id)" class="largetable" style="position: relative;top: 400px; left: -400px;">10</button>
    </form>
</div>

<script type="text/javascript">
     function reply_click(clicked_id) {
        const form = document.getElementById("tableLayout");
        form.action = "/order_manager/" + clicked_id;
        form.submit();
        event.preventDefault();
        sessionStorage.setItem('tableID', clicked_id);
    }
</script>
{% endblock %}