{% extends 'base.html' %}

{% block head %}
<title>Restaurant</title>
{% endblock %}
 

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Table Layout</h1>
    <form action="/order" method="get">
        <button class="smalltable" style="position: relative;top: 100px; left: 100px;">1</button>
        <button class="smalltable" style="position: relative;top: 100px; left: 200px;">2</button>
        <button class="smalltable" style="position: relative;top: 100px; left: 300px;">3</button>
        <button class="smalltable" style="position: relative;top: 100px; left: 400px;">4</button>
        <button class="smalltable" style="position: relative;top: 300px; left: -320px;">5</button>
        <button class="smalltable" style="position: relative;top: 300px; left: -220px;">6</button>
        <button class="smalltable" style="position: relative;top: 300px; left: -120px;">7</button>
        <button class="smalltable" style="position: relative;top: 300px; left: -20px;">8</button>
        <button class="largetable" style="position: relative;top: 350px; left: 150px;">9</button>
        <button class="largetable" style="position: relative;top: 350px; left: 350px;">10</button>
    </form>
</div>
{% endblock %}