{% extends 'base.html' %}

{% block head %}
<title>Order</title>
{% endblock %}
 

{% block body %}
<div class="content">
    <form action="/" method="get">
        <button>Return To Layout</button>
    </form>
    <h1 style="text-align: center;">Table {{table.table_id}} - {{table.loc}}</h1>
    <h4 style="text-align: center;">Capacity: {{table.capacity}}</h4>
    <div>
        <div class="form-container" align="center">
            <form action="/menu" method="get">
                <button class="smalltable">New Order</button>
            </form>
            <!-- 
            <form action="/menu" method="get">
                <button class="smalltable">Add To Order</button>
            </form>
             -->
            <form id="payment_button" action="/payment" method="get" onClick="create_url()">
                <button class="smalltable">Payment</button>
            </form>
        </div>
        <table class="table" align="center">
            <tr>
            <th>Order No.</th>
            <th>Order Time</th>
            <th>Food</th>
            <th>Price</th>
            <th>Modify</th>
            </tr>
        
            {% for order in orders[::-1] %} <!-- The [::-1] reverses the orders such that newest is on top. -->
            <tr> 
                <td>{{ order.order_id }}</td>
                <td>{{ order.order_time }}</td>
                <td style="white-space: pre-line;">{{ order.food_list }}</td>
                <td>${{ "%.2f"|format(order.total_cost) }}</td>
                <td> 
                    <form method="GET" action="/menu">
                        <input type="hidden" name="order_id" value="{{ order.order_id }}">
                        <button type="submit">Modify Order</button>
                    </form>
                </td>
                <td> 
                    <form method="GET" action="/menu">
                        <input type="hidden" name="order_id" value="{{ order.order_id }}">
                        <button type="submit">Modify Order</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        
        </table>
    </div>
</div>

<script type="text/javascript">
    function create_url() {
       table_id = sessionStorage.getItem('tableID');
       const form = document.getElementById("payment_button");
       form.action = "/payment/" + table_id;
       form.submit();
       event.preventDefault();
   }
</script>
{% endblock %}