{% extends 'base.html' %}

{% block head %}
<title>Order</title>
{% endblock %}
 

{% block body %}
<div class="content">
    <form action="/" method="get">
        <button>Return To Layout</button>
    </form>
    <h1 style="text-align: center;">Table {{table.table_id}} - {{table.loc}}</h1>
    <h4 style="text-align: center;">Capacity: {{table.capacity}}</h4>
    <div align="center">
        <button class="smalltable">New Order</button>
        <button class="smalltable">Add To Order</button>
        <button class="smalltable">Payment</button>
    </div>
</div>
{% endblock %}