{% extends 'base.html' %}

{% block head %}
<title>Order</title>
{% endblock %}
 

{% block body %}
<div class="content">
    <form action="/" method="get">
        <button>Return To Layout</button>
    </form>
    <h1 style="text-align: center;">Table {{table.table_id}} - {{table.loc}}</h1>
    <h4 style="text-align: center;">Capacity: {{table.capacity}}</h4>
    <button class="smalltable" style="position: relative;top: 100px; left: 300px;">New Order</button>
    <button class="smalltable" style="position: relative;top: 100px; left: 300px;">Add To Order</button>
    <button class="smalltable" style="position: relative;top: 100px; left: 300px;">Payment</button>
</div>
{% endblock %}