{% extends 'base.html' %}

{% block head %}
<title>Reservations</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}
 
{% block body %}
<div>
    <form action="/" method="GET">
        <button>Return to Layout</button>
    </form>
    <h1 style="text-align: center;">Reservation Manager</h1>
    <!-- <table style="margin-left: auto;">
        <tr>
          <th>Customer Name</th>
          <th>Contact Info</th>
          <th>Date</th>
        </tr>
        {% for customer in reservations %}
        <tr> 
          <td>{{customer.cust_first_name}} {{customer.cust_last_name}}</td>
          <td>{{customer.phone_no}}, {{customer.email}}</td>
          <td></td>
          
        </tr>
        {% endfor %}
    </table>
    <div class="form">
        <form action="/reservation" method="POST">
            <h5>Add Reservation</h5>
            <h6>Enter Customer ID</h6>
            <input type="text" name="Enter Customer ID" id="enter_customer_id">
            <input type="submit" name="Enter Info">
        </form>
    </div> -->
    <div class="container">
    <div class="form-container-non-centered">
        <form action="/reservation_manager" method="POST">
            <h5>Add Customer</h5>
            <h6>First Name</h6>
            <input type="text" name="First Name" id="first_name">
            <h6>Last Name</h6>
            <input type="text" name="Last Name" id="last_name">
            <h6>Phone Number</h6>
            <input type="text" name="Phone No." id="phone_no">
            <h6>Email</h6>
            <input type="text" name="Email" id="email">
            <h6>Preferred Table: 1-10</h6>
            <input type="text" name="Preferred Table" id="pref_table">
            <input type="submit" name="Enter Info">
        </form>
    </div>
    <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Contact Info</th>
          <th>Preferred Table</th>
          <th>Date Reserved</th>
        </tr>
        {% for customer in customers %}
        <tr> 
          <td>{{customer.cust_id}} </td>
          <td>{{customer.cust_last_name}}, {{customer.cust_first_name}}</td>
          <td>{{customer.phone_no}}, {{customer.email}}</td>
          <td>{{customer.pref_table}}</td>
          <td>{{customer.date_reserved}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}